# Source language and JDK version to use
language: java
jdk: oraclejdk7

# Compile and package JAR and set build properties
install: mvn package -DbuildNumber=$TRAVIS_BUILD_NUMBER -DciSystem=travis -Dcommit=${TRAVIS_COMMIT:0:7}

# Perform steps after compilation/test success
after_success:
  # Get files for use with build, namely the custom Maven settings.xml
  - "git clone https://github.com/flow/travis-ci-resources.git target/travis"
  # Check if commit is not a pull request, if repo is official, and branch is master, generate and deploy artifacts and reports
  - "[[ $TRAVIS_PULL_REQUEST == false ]] && [[ $TRAVIS_REPO_SLUG == flow/flow-permissions ]] && [[ $TRAVIS_BRANCH == master ]] && mvn javadoc:jar source:jar cobertura:cobertura coveralls:cobertura -DserviceJobId=$TRAVIS_JOB_ID deploy --settings target/travis/settings.xml"

# Notification services
notifications:
  # Disable build status email notifications, until the issue with forks is fixed
  email: false
  webhooks:
    # Send build information and status to Notifico
    - http://n.tkte.ch/h/2041/zTcS6dCOGp3Q_Wp1H2KwWVjn

# Environmental system variables
env:
  global:
    # Make the log output cleaner
    - TERM=dumb
    # Super secure, encrypted variables! Ssssh!
    - secure: "CpRhkpw3S5ZpeuhrSF6nz7HtGuoYamAC6jlV3eyKcFiSHS0y3eLJJsgbjIifQ29wuK+LMubQdrc6l+qqu+x0f8HYQPXEMutb31mH2A0E2HpE2bGvaOnDuyofOLWn14KOBR1zwk+7lzHpYLpdruJkvC8OanquArCjMh74ni+bLbo="
    - secure: "l5L3V+3k2bP9flmqzIl4xStM1AkVjXCGPrcEGhHguC8lHyRAad+wvP40nFHJlfjx8bSTGpAgv+z9+KTS8EeNMOOQnGqcQlKfILMiZD8r9b7m9sM3U17bUlcowzd9CJ4DcrvskEvjQ4hGKHeCTJ+ZHTL4zAxwH7Ce6JSRbcSgH/g="
